	  <ul class="l">
		<li class="lt"><%= link_to "クロレラの効能と副作用", "http://chlorella.zouri.jp/" %>
		</li>
		<li class="ld">ビタミン、ミネラル、カルシウム、タンパク質などの栄養素を豊富に含み便秘などの様々な症状を緩和し防止すると言われている<%= link_to "クロレラの効能と副作用","http://chlorella.zouri.jp/" %>について、簡単にまとめて説明しているサイトです。</li>
	  </ul>

